<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sea Watch</title>
</head>
<body>
  <h1>Sea Watch</h1>
  <ul>
      <li><a href="">Home</a></li>
      <li><a href="">My Searches</a></li>
      <li><a href="">About</a></li>
  </ul>
  <ul>
    <div>
        <li><%=data[0].formatted_address %></li>
        <img src="http://film.ucsc.edu/sites/default/files/socdoc/socdoc-home-dark-grey-rectangle.png">
    </div>
  </ul>
</body>
</html>