<%- include('../../layout/head.ejs') %>
<body>
    <%- include('../../layout/header.ejs') %>

    <ul>
        <div>
            <% for (let i in data) {%>
                <li>
                    <%- data[i] %>
                </li>
                <% } %>
                    <img src="http://film.ucsc.edu/sites/default/files/socdoc/socdoc-home-dark-grey-rectangle.png">
        </div>
    </ul>

    <footer>
        <%- include('../../layout/footer.ejs') %>
    </footer>
    
</body>

</html>