<%- include ../../layout/head.ejs %>
<body>
    <%- include('../../layout/header.ejs') %>

    <!--Text that says Username -->
    <!--Text box to enter username -->
    <!-- Submit button for username -->

    <!-- One partial of Location, Image, sailboat, animation -->

    <!-- footer partial -->
    
</body>
</html>