<%- include('../layout/head.ejs') %>
    <link rel="stylesheet" href="../../public/styles/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

    <body id="aboutMeBody">
        <%- include('../layout/header.ejs') %>
            <!-- <div id= authorContainer> -->
            <section class="authors">
                <img class="authorImages" src="assets/temp.jpg" alt="author" />
                <aside class="biography">
                    <p>
                        Helvetica migas coloring book, jianbing adaptogen skateboard tofu pork belly austin glossier artisan. Mlkshk celiac brunch pinterest kinfolk, man braid try-hard readymade shoreditch hexagon tacos. Coloring book jianbing pickled cronut. Man bun gentrify
                        austin, brooklyn af authentic truffaut thundercats jean shorts williamsburg drinking vinegar lyft.
                    </p>
                </aside>
            </section>
            <section class="authors">
                <img class="authorImages" src="assets/temp.jpg" alt="author" />
                <aside class="biography">
                    <p>
                        Migas messenger bag cronut lo-fi bespoke farm-to-table copper mug, vinyl deep v heirloom umami kombucha. Blue bottle mixtape pug pitchfork 90's poke shabby chic vexillologist microdosing cloud bread chicharrones vinyl raw denim letterpress knausgaard.
                        Portland dreamcatcher waistcoat, enamel pin etsy forage fashion axe sustainable crucifix microdosing fam gastropub austin tofu narwhal. Narwhal jean shorts lumbersexual man braid tilde vape venmo. Twee microdosing meggings cold-pressed,
                        yuccie ramps retro palo santo knausgaard kickstarter bespoke pok pok. Pitchfork aesthetic microdosing fingerstache kogi live-edge tbh kinfolk umami heirloom etsy schlitz ramps adaptogen.
                    </p>
                </aside>
            </section>
            <section class="authors">
                <img class="authorImages" src="assets/temp.jpg" alt="author" />
                <aside class="biography">
                    <p>
                        Semiotics bicycle rights kale chips occupy, brooklyn vexillologist subway tile. Affogato pitchfork tumblr everyday carry disrupt quinoa. Fingerstache man braid photo booth, palo santo roof party cloud bread crucifix. YOLO enamel pin slow-carb echo park,
                        wolf farm-to-table typewriter pickled fashion axe kale chips synth glossier.
                    </p>
                </aside>
            </section>
            <section class="authors">
                <img class="authorImages" src="assets/temp.jpg" alt="author" />
                <aside class="biography">
                    <p>
                        Blog mixtape microdosing live-edge hashtag ennui normcore paleo bitters pabst ethical. Cold-pressed small batch fanny pack lomo pour-over 90's. +1 bicycle rights occupy, mumblecore meggings sartorial wayfarers selfies cred coloring book. Lyft la croix
                        plaid mumblecore fingerstache master cleanse wolf art party glossier af poutine wayfarers pour-over artisan man braid. Ramps four dollar toast austin, 8-bit farm-to-table williamsburg actually iPhone tacos helvetica plaid pickled
                        bespoke neutra. Shabby chic everyday carry organic quinoa health goth.
                    </p>
                </aside>
            </section>
            <!-- </div>         -->
            <%- include('../layout/footer.ejs') %>
    </body>