<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="./public/styles/layout.css">
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sea Watch</title>
</head>
<body>
  <header>
    <h1>Sea Watch</h1>
    <div class="authors">
        <img src="" alt="" />
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab at perferendis similique. Optio quos facilis quam itaque necessitatibus natus in ipsam obcaecati debitis amet, officiis eum fugit nobis numquam laborum.</p>
      </div>
      <div class="authors">
          <img src="" alt="" />
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab at perferendis similique. Optio quos facilis quam itaque necessitatibus natus in ipsam obcaecati debitis amet, officiis eum fugit nobis numquam laborum.</p>
        </div>
        <div class="authors">
            <img src="" alt="" />
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab at perferendis similique. Optio quos facilis quam itaque necessitatibus natus in ipsam obcaecati debitis amet, officiis eum fugit nobis numquam laborum.</p>
          </div>
          <div class="authors">
              <img src="" alt="" />
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab at perferendis similique. Optio quos facilis quam itaque necessitatibus natus in ipsam obcaecati debitis amet, officiis eum fugit nobis numquam laborum.</p>
            </div>
    <footer>
      ... contents go here ...
    </footer>
</header>
</body>
</html>