<%- include('../layout/head.ejs') %>
    <link rel="stylesheet" href="../../public/styles/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">

    <body id="aboutMeBody">
        <%- include('../layout/header.ejs') %>

            <h2>Meet the Team</h2>
            <!-- <div id= authorContainer> -->
            <section class="authors">
                <img class="authorImages" src="assets/Pratiibh.jpg" alt="author" />
                <aside class="biography">
                    <h3>Pratiibh Bassi</h3>
                    <p>
                        Full-stack software developer that lives for "ah-hah!" moments.  The thrill of getting code to run after hours of struggling and pain is what keeps me going.
                        Favorite fish joke: What do you get when you cross a banker and a hammerhead?  A loan shark!

                        <br><br>

                        <a href="https://www.linkedin.com/in/pratiibh/" target="_blank"><img src="assets/linkedin_logo_small.png"></a>

                        <a href="https://github.com/Pratiibh" target="_blank"><img src="assets/github_logo.png" width="37px"></a>

                    </p>
                </aside>
            </section>
            <section class="authors">
                <img class="authorImages" src="assets/tammy_bio_img.png" alt="author" />
                <aside class="biography">
                    <h3>Tammy Do</h3>
                    <p>

                        Enthusiastic software developer with a fascination for reimagining the ways we access the world. My connection to the seas comes from the coastal traditions of my heritage.

                        Favorite fish joke: How do you make an Octopus laugh? With ten-tickles.

                        <br><br>

                        <a href="https://www.linkedin.com/in/tammytdo/" target="_blank"><img src="assets/linkedin_logo_small.png"></a>

                        <a href="https://github.com/tammytdo" target="_blank"><img src="assets/github_logo.png" width="37px"></a>

                    </p>

                </aside>
            </section>
            <section class="authors">
                <img class="authorImages" src="assets/joseph.jpg" alt="author" />
                <aside class="biography">
                    <h3>Joseph Hangarter</h3>
                    <p>
                            Software developer who is passionate about using code to maximize efficiency while developing creative, customer-focused solutions. Favorite fish joke: What's the difference between a fish and a piano? You can't tuna fish.

                        <br><br>

                        <a href="https://www.linkedin.com/in/joseph-hangarter/" target="_blank"><img src="assets/linkedin_logo_small.png"></a>

                        <a href="https://github.com/JCode1986" target="_blank"><img src="assets/github_logo.png" width="37px"></a>

                    </p>
                </aside>
            </section>
            <section class="authors">
                <img class="authorImages" src="assets/morgana.jpg" alt="author" />
                <aside class="biography">
                    <h3>Morgana Spake</h3>
                    <p>
                        Full-stack JavaScript developer with a background in Theatrical Costuming and a passion for solving puzzles and problems. Favorite fish joke: What do sea monsters eat? Fish and ships.

                        <br><br>

                        <a href="https://www.linkedin.com/in/morganaspake/" target="_blank"><img src="assets/linkedin_logo_small.png"></a>

                        <a href="https://github.com/MSpake" target="_blank"><img src="assets/github_logo.png" width="37px"></a>

                    </p>
                </aside>
            </section>

            <%- include('../layout/footer.ejs') %>
    </body>