<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="./public/styles/base.css">
        <link rel="stylesheet" href="./public/styles/layout.css">
        <link rel="stylesheet" href="./public/styles/modules.css">
        <link rel="stylesheet" href="./public/styles/reset.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sea Watch</title>

    
</head>
<body>
    <header>
        <h1>Sea Watch</h1>
    </header>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">My Searches</a></li>
            <li><a href="">New Search</a></li>
        </ul>
    </nav>
    
    <!-- First button opens a form to search -->
    <form>
        <input type="submit" name="search" value="New Search" onclick="test()">
    </form>
    
    
    <!-- Takes you to results page -->
    <form action="/results" method="GET">
        <input name="search" type="text" value="Search for a location">
        <input type="submit" value="Search">
    </form>
    
    <!-- Takes you to saved searches -->
    <form action="/searches" method="POST">
        <input type="submit" name="savedSearch" value="Saved Searches">
    </form>

    <div>
        <p>Jokes!</p>
        <img src="http://film.ucsc.edu/sites/default/files/socdoc/socdoc-home-dark-grey-rectangle.png">
    </div>

    <div>
        <p>Logo</p>
    </div>
</body>
</html>