<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="./public/styles/base.css">
        <link rel="stylesheet" href="./public/styles/layout.css">
        <link rel="stylesheet" href="./public/styles/modules.css">
        <link rel="stylesheet" href="./public/styles/reset.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sea Watch</title>

    
</head>
<body>
    <header>
        <h1>Sea Watch</h1>
    </header>
    <nav>
        <ul>
            <li>Home</li>
            <li>Saved</li>
            <li>New</li>
        </ul>
    </nav>
    

    <form>
        <input type="text" name="search" value="New Search">
        <input type="text" name="savedSearch" value="Saved Searches">
    </form>

    <div>
        <p>Jokes!</p>
        <img src="http://film.ucsc.edu/sites/default/files/socdoc/socdoc-home-dark-grey-rectangle.png">
    </div>

    <div>
        <p>Logo</p>
    </div>
</body>
</html>