
* {
    background-color: rgba(224, 242, 22, 0.132)
}


ul {
    display: flex;
    justify-content: space-evenly;
}

nav {
    outline: 2px rgb(11, 124, 161) solid;
}

#buttonHolder {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}


.authors {
    border: 2px rgba(0, 0, 0, 0.103);
    padding: 10px;
    margin: 3em;
    width: 90%;
    height: 250px;
}

.authorImages {
    width: 20%;
    height: 100%;
    box-shadow: 7px 7px 7px #0635cf;
    border-radius: 20px;
}

.authorImages:hover{
    transform: rotate(-30deg);
}
.authorImages:hover >*{
    transform: rotate(30deg);
}

.biography {
    float: right;
    width: 80%;
    height: 100%;
}

.biography > p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 10px;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

#aboutMeBody {
    background: url(../assets/boat.jpg);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}

footer {
    text-align: center;
}



h1 {
    font-family: 'Pacifico', cursive;
    font-size: 44px;
    text-align: center;
    font-weight: bold;
    color: #57beeb;
    padding-left: 15px;
}


