* {
    background-color: rgba(224, 242, 22, 0.132)
}


ul {
    display: flex;
    justify-content: space-evenly;
}

nav {
    outline: 2px rgb(11, 124, 161) solid;
}

#buttonHolder {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 44px;
    text-align: center;
    font-weight: bold;
    color: #57beeb;
    padding-left: 15px;
}

