#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 30px;
}

#logoLink {
    text-decoration: none;
}

#test {
    display: none;   
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    color: #57beeb;
    padding-left: 15px;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 50px auto 10px auto;
}

.largerButton {
    width: 40%;
    background-color: #034680;
    color: white;
}

input {
    width: 16%;
    height: 20px;
    font-size: 1.3em;
    margin: 10px 10px 0px 10px;
}

h3 {
    font-size: 1.5em;
    margin: 20px auto 10px auto;
}

.locationInput {
    width: 15%;
    height: 20px;
}

.submitButton {
    width: 5%;
    font-size: 1.3em;
    
}

.sample_data {
    width: 26%;
    border: black solid 2px;
    margin: 10px 0 10px;
}

.sample_data>p {
    display: flex;
    justify-content: space-evenly;
}

.sample_image {
    display: block;
    margin: 0 auto;
}

#username {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding-top: 40px;
}

#allSavedSearches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: row-reverse;
    margin-top: 40px;
    margin-bottom: 40px;
}

.dailyWeather {
    border: 2px solid black;
}

table {
    border: 1px black solid;
    margin: auto;
}

td {
    border: 1px black solid;
    padding: 6px;
}

th {
    border: 1px black solid;
    padding: 6px;
    font-weight: bold;
}

body {
    background: url(../assets/boat.jpg);
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

table,
.dailyWeather {
    background-color: rgb(248, 241, 232);
}

nav,
footer {
    background-color: #57beeb;
}

nav {
    font-size: 1.5em;
}


#map {
    border: 2px solid black;
}

.hourlyTable,
#hideDetails {
    display: none;
}