#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 30px;
}

#test {
    display: none;
}

.largerButton {
    width: 50%;
}

.sample_data {
    width: 26%;
    border: black solid 2px;
    margin: 10px 0 10px;
}

.sample_data>p {
    display: flex;
    justify-content: space-evenly;
}

.sample_image {
    display: block;
    margin: 0 auto;
}

#username {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding-top: 40px;
}

#allSavedSearches {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: row-reverse;
    margin-top: 40px;
    margin-bottom: 40px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

table,
td {
    border: 1px black solid;
}

th {
    border: 1px black solid;
    padding: 6px;
    font-weight: bold;
}