<!-- partial with footer, logo -->
<footer>
    <h4>Sea Watch, Inc.</h4>

    <h4>info@seawatch.com</h4>

    <h4>2901 3rd Ave. Seattle, WA 98121</h4>

    <a href="https://github.com/sea-watchers/sea-watch-app"><img src="../assets/github_logo.png" alt="Github logo" width=37px></a>

</footer>