<!-- partial with footer, logo -->
<footer>
    <p>Sea Watch, Inc.</p>

    <a href="blank@seawatch.com">
        <h4>info@seawatch.com</h4>
    </a>

    <h4>2901 3rd Ave. Seattle, WA 98121</h4>

    <a href="https://github.com/sea-watchers/sea-watch-app"><img src="https://maxcdn.icons8.com/Share/icon/p1em/Logos/github1600.png" alt="Github logo" width=37px></a>

</footer>