<header>

    <div id="logo">
        <img id="compassLogo" src="/assets/compassLogo.png" alt="Sea Watch logo" width=100>

        <!-- "Cannot GET /www.sea-watch.co" -->
        <!--  Needs a route instead of www.sea-watch.co -->
        <!-- <a id="logoLink" href="www.sea-watch.co"> -->
        <h1>Sea Watch</h1>
        <!-- </a> -->

    </div>


        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/saved">My Saved Searches</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
</header>