<header>

    <div id="logo">
        <img id="compassLogo" src="/assets/compassLogo.png" alt="Sea Watch logo" width=100>

        <h1>Sea Watch</h1>
    </div>


        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/saved">My Saved Searches</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
</header>