
<div class="sample_data"> 
    <p>Sample Location</p>

    <!-- Just a placeholder image. Better sailboat image coming later. Needs to be PNG.-->
    <!-- This image will most likely be a sailboat. The image will get animated upon a click. -->
    <img class="sample_image" src="https://cdn.vectorstock.com/i/thumb-large/76/06/boat-icon-thin-line-black-vector-17697606.jpg" alt="">

    <!-- animate the sailboat image -->

</div>