<table>
    <thead>
        <!-- hours -->
        <th>Hours </th>
        <% for (let i in tableData[0]) { %>
            <th><%= tableData[0][i].hour %> </th>
        <% } %>
    </thead>
    
    <tbody>
        <!-- number of rows needs to be dynamic based on how many pieces of data are being passed in -->
    </tbody>   

</table>