<table>

    <tbody>
        <!-- for each property in the hour objects in the hourly array create a row with a lable -->
        <% console.log(tableData) %>
            <% console.log(tableData.length) %>


                <% for (let i in tableData[0]) { %>
                    <tr>
                        <th>

                            <%= i.replace('_', ' ') %>
                        </th>
                        <% for (let j = 0; j < 24; j++) { %>
                            <td>
                                <%= tableData[j][i] %>
                            </td>
                            <% } %>

                    </tr>
                    <% } %>

                        <!-- for each hour create a data call for the row -->

    </tbody>

</table>