<table>

    <tbody>
        <!-- for each property in the hour objects in the hourly array create a row with a lable -->

        <% for (let i in tableData[0].hourly[0]) { %>
            <tr>
                <th>

                    <%= i %>
                </th>
                <% for (let j in tableData[0].hourly) { %>
                    <td>
                        <%= tableData[0].hourly[j][i] %>
                    </td>
                    <% } %>

            </tr>
            <% } %>

                <!-- for each hour create a data call for the row -->

    </tbody>

</table>